body {
    background-color: rgb(247, 225, 180);
    color: rgb(41, 35, 23);
    transition: 0.2s;
    margin: 200px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nama-user{
    display: flex;
    align-items: flex-start;
    padding: 60px;
}
